<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stucollyn.nfc_play">

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/trove_logo_icon"
        android:label="trove"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NFCRead"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NFCRecord"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectMode"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="trove"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="trove"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PictureStoryFragment" />
        <activity android:name=".VideoStoryFragment" />
        <activity android:name=".WrittenStoryFragment" />
        <activity android:name=".StoryMediaChooser" />
        <activity
            android:name=".NewStoryReview"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".SaveStoryToNFC"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".SaveSelector"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".SavedStoryConfirmation"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ReviewAudioStory"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ReviewVideoStory"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ReviewWrittenStory"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ReviewPictureStory"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".LocalStoryGallery"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".StoryGallerySaveOrView"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".StoryGalleryMenu" />
        <activity android:name=".CloudStoryGalleryMenu" />
        <activity android:name=".CloudStoryGallery" />
        <activity android:name=".NewStorySaveMetadata" />
        <activity android:name=".ShowCloudStories" />
        <activity android:name=".ShowCloudStoryContent"></activity>
    </application>

</manifest>